Repository 7094f5e6-351c-11ee-be56-0242ac120002/Taskify, pull requests merged in 2023-08, with the labels that each got.

#1 Frontend/chore/repository set up
  frontend/.eslintrc.cjs
  frontend/.gitignore
  frontend/README.md
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/vite.svg
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/assets/react.svg
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/vite-env.d.ts
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Labels: frontend, chore

#2 chore:set up backend repository
  backend/.gitignore
  backend/Api/Api.csproj
  backend/Api/Api.sln
  backend/Api/Program.cs
  backend/Api/Properties/launchSettings.json
  backend/Api/appsettings.Development.json
  backend/Api/appsettings.json
  backend/Application/Application.csproj
  backend/Data/Data.csproj
Labels: backend, chore

#3 Update README.md
  frontend/README.md
Labels: documentation, frontend, chore
